//bootstrap configuratin start

$enable-negative-margins: true;

// Ratios for typography
$double-octave: 4;
$pi: 3.14159265359;
$major-twelfth: 3;
$major-eleventh: 2.666666667;
$major-tenth: 2.5;
$octave: 2;
$major-seventh: 1.875;
$minor-seventh: 1.777777778;
$major-sixth: 1.666666667;
$phi: 1.618034;
$golden: $phi;
$minor-sixth: 1.6;
$fifth: 1.5;
$augmented-fourth: 1.41421;
$fourth: 1.333333333;
$major-third: 1.25;
$minor-third: 1.2;
$major-second: 1.125;
$minor-second: 1.066666667;

:root {
  --appbar-width: 3.5rem;
  --sidebar-width: 15.625rem;
  --role-sidebar: 18.75rem;
  --mastermenu-width: 16rem;
  --sidebar-open-width: 14.875rem;
  --shorcut-width: 3rem;
  --header-height: 3.5rem;
  --help-container-width: 30rem;
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
  --article-line-height: 1.58;
  --modal-overlay-size: 360px;
  --modal-overlay-size-lg: 680px;
  --overlay-width: 440px;
  --app-max-width: 85.375rem;
}
$navy-16: #0d2344;
$navy-24: #143566;
$navy-32: #1b4789;
$navy-40: #2159ab;
$navy-50: #2460b9;

$indigo: #4c589e;
$indigo-10: #e1e4f3;
$indigo-50: #7985cb;
$indigo-100: #97a0d6;
$indigo-200: #5c6bc0;
$indigo-300: #3b457b;
$indigo-500: #7985cb;

$red: #f44336;
$red-48: #eb0a19;
$red-50: #f6655a;
$red-56: #f62735;
$red-59: #fb6f78;
$red-66: #ffe5e7;
$red-88: #fdc4c8;
$red-100: #fddcda;
$red-200: #fff5f6;

$green: #43a047;
$green-10: #dceddd;
$green-40: #30af1d;
$green-48: #3ad322;
$green-50: #65b168;
$green-56: #54e03e;
$green-76: #b5e1af;
$green-88: #d0f6ca;
$green-90: #188b62;
$green-100: #dceddd;
$green-200: #f8fff7;

$orange: #fb8200;
$orange-100: #fee7cd;
$orange-200: #8f6512;
$orange-300: #ffe5b2;
$orange-400: #b88217;
$orange-500: #ebbf67;
$orange-600: #e5ae40;

$blue: #0d3883;
$blue-5: #ebf2ff;
$blue-10: #d8e6ff;
$blue-50: #4f91ff;
$blue-60: #2979ff;
$blue-72: #70a9ff;
$blue-80: #99c2ff;
$blue-88: #c2daff;
$blue-92: #d6e7ff;
$blue-96: #ebf3ff;
$blue-100: #bbdefb;
$blue-200: #f2f7ff;
$blue-300: #c4daff;
$blue-400: #8eb3f5;
$blue-500: #2264d1;
$blue-600: #33a9a9;
$blue-700: #0e6fd0;
$blue-800: #1565c0;

$teal-50: $blue-600;

$white: #ffffff;
$black: #000000;

//bootstrap colors overides
$gray-0: #f7f7fa;
$gray-5: #ededf0;
$gray-10: #e1e1e1;
$gray-16: #292929;
$gray-32: #525252;
$gray-40: #9c9c9c;
$gray-48: #7a7a7a;
$gray-50: #787885;
$gray-56: #8f8f8f;
$gray-60: #5a5b6a;
$gray-70: #4a4b57;
$gray-80: #cccccc;
$gray-88: #e0e0e0;
$gray-92: #ebebeb;
$gray-96: #f5f5f5;
$gray-98: #a4a4a4;
$gray-100: #d2d2d6;
$gray-200: $gray-10;
$gray-300: #b4b4bb;
$gray-400: #858585;
$gray-500: #666666;
$gray-600: $gray-70;
$gray-700: $gray-80;
$gray-800: #292a31;
$grey-900: #e1e4f3;
$light-900: $gray-5;
$cool-gray-400: #ced4da;
$cool-gray-500: #adb5bd;
$cool-gray-600: #6c757d;
$cool-gray-700: #495057;
$cool-gray-800: #343a40;
$cool-gray-900: #212529;

$yellow-10: #ffe5b2;
$yellow-48: #f4b101;
$yellow-50: #e5ae40;
$yellow-56: #fec120;
$yellow-88: #ffeec2;
$yellow-200: #fffbef;
$yellow-400: #facc15;

//new gridbreakpoing
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1420px
);
//colors

$primary: $blue;
$secondary: $gray-200;
$success: $green;
$info: $blue-5;
$warning: $yellow-56;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$border-color-gray: $gray-80;
$border-color: $gray-88;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'error': $red
);

// // stylelint-disable-next-line scss/dollar-variable-default
$custom-colors: (
  'white': $white,
  'black': $black,
  'indigo': $indigo,
  // blue
  'blue-5': $blue-5,
  'blue-72': $blue-72,
  'blue-80': $blue-80,
  'blue-88': $blue-88,
  'blue-200': $blue-200,
  // gray
  'gray-16': $gray-16,
  'gray-32': $gray-32,
  'gray-40': $gray-40,
  'gray-48': $gray-48,
  'gray-50': $gray-50,
  'gray-56': $gray-56,
  'gray-80': $gray-80,
  'gray-88': $gray-88,
  'gray-92': $gray-92,
  'gray-96': $gray-96,
  'gray-98': $gray-98,
  'cool-gray-600': $cool-gray-600,
  'cool-gray-700': $cool-gray-700,
  //Green
  'green-40': $green-40,
  'green-48': $green-48,
  'green-50': $green-50,
  'green-76': $green-76,
  'green-90': $green-90,
  'green-200': $green-200,
  //red
  'red-48': $red-48,
  'red-59': $red-59,
  'red-88': $red-88,
  'red-200': $red-200,
  // navy
  'navy-24': $navy-24,
  'navy-32': $navy-32,
  'navy-40': $navy-40,
  'navy-50': $navy-50,
  //yellow
  'yellow-48': $yellow-48,
  'yellow-200': $yellow-200
);

$theme-colors: map-merge($theme-colors, $custom-colors);

//responsive font size setting
$enable-responsive-font-sizes: true;
$rfs-factor: $minor-third;
$rfs-unit: rem;

//bootstrap grid configuration
$grid-gutter-width: 16px !default;

//
$body-bg: #f0f0f0;
//$line-height-base: 1.4;

//end of bootstrap configuration

// base font family
$font-family-base: 'Inter', sans-serif;

//form elements
$input-padding-y: 0.35rem;
$input-padding-x: 0.75rem;

// $input-padding-y-sm: 0.125rem;
// $input-padding-x-sm: 0.5rem;
// $input-font-size-sm: 0.7rem;

// //$input-font-family:
$input-font-size: 0.875rem;
$input-color: $gray-16;
$input-bg: $white;
$input-disabled-bg: $gray-200;
$input-border-width: 1px;
$input-border-radius: 2px;
$input-border-color: $gray-100;
$input-line-height: 1.4;
$input-btn-line-height: $input-line-height;
// $line-height-sm: 1.4;
$input-height: ($input-font-size) + ($input-padding-y * 2) - 2;

//Button
$btn-padding-y-xs: 0.25rem;
$btn-padding-x-xs: 0.25rem;
$btn-font-size-xs: 0.75rem;
$btn-line-height-xs: 1.4;
$btn-border-radius-xs: 0.125rem;
// $btn-border-radius-sm: 2px;
$btn-border-radius: $input-border-radius;
$btn-line-height: $input-line-height;
$btn-font-size: $input-font-size;
$btn-padding-y: $input-padding-y;
$btn-padding-x: $input-padding-x;
$input-btn-padding-x-lg: 1.725rem;
$input-btn-padding-y-lg: 1.5rem;

//$input-box-shadow
$input-placeholder-color: $gray-56;
$form-group-margin-bottom: 1rem;
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075);
$input-focus-box-shadow: none;

//Select field
// $custom-select-height: $input-height;
$custom-select-padding-y: 0.25rem;

//form-row gap
$form-grid-gutter-width: 16px;

//alert
$alert-padding-y: 1rem;
$alert-padding-x: 1rem;
$alert-margin-bottom: 0rem;
$alert-border-radius: 4px;
$alert-link-font-weight: 400;
$alert-border-width: 0px;

//spacing
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 2
    ),
    6: (
      $spacer * 3
    ),
    7: (
      $spacer * 4
    )
  ),
  $spacers
);

//breadcrumb
$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 0.5rem;
$breadcrumb-divider: '>';
$breadcrumb-item-color: $gray-600;
$breadcrumb-border-radius: 2px;

//Pagination
$pagination-border-color: $blue-300;
$pagination-color: $gray-800;
$pagination-hover-bg: $indigo-200;
$pagination-hover-color: white;
$pagination-disabled-color: $secondary;

$time-func-1: cubic-bezier(0.4, 0, 0.2, 1);

//Table
$table-border-color: $blue-200;
$table-cell-padding: 0.5rem;
//Modal
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: 0.5;
$modal-content-border-color: none;
$modal-content-border-radius: 4px;
$modal-header-border-color: none;
$modal-lg: 64rem;
$modal-md: 450px;
$modal-sm: 394px;

//Dropdown
$dropdown-border-color: none;
$dropdown-link-color: $gray-60;
$dropdown-link-hover-bg: $gray-0;
$dropdown-link-active-color: $gray-16;
$dropdown-link-active-bg: $blue-100;
$dropdown-item-padding-y: 0.5rem;
$dropdown-padding-y: 0;
$dropdown-divider-bg: $gray-100;
$dropdown-min-width: 15rem;
$dropdown-box-shadow: 0px 4px 8px $gray-100, 0px 8px 16px $gray-100;

$colortypes: (
  'primary': $blue,
  'success': $green,
  'warning': $yellow-400,
  'danger': $red,
  'teal': $blue-700,
  'confirmed': #22c55e,
  'running': #eab308,
  'pending': $gray-400,
  'canceled': $red
);

//Tooltip
$tooltip-font-size: 0.875rem;
$tooltip-color: white;
$tooltip-bg: $navy-40;
$tooltip-arrow-color: white;
$tooltip-border-radius: 0.25rem;
$tooltip-max-width: 205px;
$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 0.5rem;

//Switch
$form-switch-checked-color: $green-56;
$form-switch-color: $red;
$form-switch-focus-color: $red;

// select
$form-select-indicator-color: $gray-80;
$form-select-border-radius: $input-border-radius;
// $form-select-indicator-padding:.5rem;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 8' fill='#cccccc'><path d='M7 7L0 0h14L7 7z'/></svg>");

//list
$list-group-item-padding-y: $spacer;
$list-group-item-padding-x: 0;
